<% @title = 'Upload File' %>
<form method="post" enctype="multipart/form-data">
  <label>File: <input type="file" name="image" /></label><br />
  <button>Upload</button>
</form>

<h2>Search Uploaded Document Images</h2>
<form action="/search">
  <label>Search for: <input type="text" name="q" /></label><br />
  <button>Search</button>
</form>
